{% extends 'base.html.twig' %}

{% block title %}
    {% if isModification %}
        Modification
    {% else %}
        Ajout
    {% endif %}    
{% endblock %}
{% block titrePage %}
    {% if isModification %}
        Modification du type : {{type.libelle}}
    {% else %}
        Ajout d'un type
    {% endif %}    
{% endblock %}

{% block body %}
    <div class="row admin-form-container">
        <div class="col-12 p-2 m-2">
            {{form_start(form)}}
                <div class="row">
                    <div class="col-6">
                        <div class="row p-2 m-2">
                            <div class="col-6">
                                {% if type.image == '' %}
                                    <img src="{{ asset('images/no_image.png') }}" />
                                {% else %}
                                    <img src="{{ asset('images/types/' ~ type.image) }}" />
                                {% endif %}
                            </div>
                            <div class="col-6">
                                {{form_row(form.imageFile)}}
                            </div>

                            <div class="col-12">
                                {{form_row(form.libelle, {'label' : 'Libellé du type'})}}
                            </div>
                        </div>                        
                    </div>
                </div>
                
                <div class="text-center">
                    <input type="submit" class="btn btn-success" value="Enregistrer">    
                </div>
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}
